- content_for(:title, 'User list')
.row
	.col-md-8.col-md-offset-2
		%ul.pagination
			= will_paginate @users, :container => false
		.table-responsive
			%table.table
				%thead
					%tr
						%th.text-nowrap
							%a{:href => "#{users_path + get_order_path('id')}"}
								ID
								- if is_order_active?('id')
									%span.glyphicon.glyphicon.glyphicon-sort
						%th
							%a{:href => "#{users_path + get_order_path('name')}"}
								Name
								- if is_order_active?('name')
									%span.glyphicon.glyphicon.glyphicon-sort
						%th.hidden-xs
							%a{:href => "#{users_path + get_order_path('email')}"}
								Email
								- if is_order_active?('email')
									%span.glyphicon.glyphicon.glyphicon-sort
						%th.hidden-xs Division
						%th.hidden-xs
							%a{:href => "#{users_path + get_order_path('pos')}"}
								Position
								- if is_order_active?('pos')
									%span.glyphicon.glyphicon.glyphicon-sort
						- if current_user.admin?
							%th{:colspan => 2} Actions
				%tbody
					- @users.each do |user|
						%tr
							%td #{user.id}
							%td
								= link_to user.name, user
							%td.hidden-xs
								%a{ :href => "mailto:#{user.email}" }
									#{user.email}
							%td.hidden-xs
								= division_name(user.division_id)
							%td.hidden-xs #{user.position}
							- if current_user.admin?
								%td
									%span.hidden-xs
										= link_to 'edit', edit_user_path(user)
									%span.visible-xs
										= link_to '', edit_user_path(user), :class => 'glyphicon glyphicon-edit'
								-if !current_user?(user)
									%td
										%span.hidden-xs
											= link_to 'delete', user, method: :delete, data: { confirm: 'You sure?' }
										%span.visible-xs
											= link_to '', user, method: :delete, data: { confirm: 'You sure?' }, :class => 'glyphicon glyphicon-remove-sign'
								- else
									%td
		%ul.pagination
			= will_paginate @users, :container => false
