%ol.breadcrumb
	%li
		= link_to 'Users list', users_path
	%li
		= @user.name

%h3 Profile
.panel.panel-default
	.panel-heading
		Basic account informations -
		= link_to 'Edit user', edit_user_path(@user)
	.panel-body
		%dl.dl-horizontal
			%dt Full name
			%dd
				= @user.name
			%dt Email
			%dd
				%a{ :href => "mailto:#{@user.email}" }
					= @user.email
			%dt Permission level
			- if @user.admin?
				%dd Admin
			- else
				%dd Normal user

.panel.panel-default
	.panel-heading
		Company informations
	.panel-body
		%dl.dl-horizontal
			%dt Position
			%dd
				= @user.position
			%dt Division
			%dd
				= division_name(@user.division_id)
