- content_for(:title, 'Divisions list')
.row
	.col-md-6.col-md-offset-3
		.table-responsive
			%table.table
				%thead
					%tr
						%th ID
						%th Name
						%th.hidden-xs Members
						- if current_user.admin?
							%th{:colspan => 2} Actions
				%tbody
					- @divisions.each do |division|
						%tr
							%td #{division.id}
							%td
								= link_to division.name, division
							%td.hidden-xs
								= users_by_division(division.id)
							- if current_user.admin?
								%td
									%span.hidden-xs
										= link_to 'edit', edit_division_path(division)
									%span.visible-xs
										= link_to '', edit_division_path(division), :class => 'glyphicon glyphicon-edit'
								%td
									- if users_by_division(division.id) < 1
										%span.hidden-xs
											= link_to 'delete', division, method: :delete, data: { confirm: 'You sure?' }
										%span.visible-xs
											= link_to '', division, method: :delete, data: { confirm: 'You sure?' }, :class => 'glyphicon glyphicon-remove-sign'