%h3 Project info
.panel.panel-default
	.panel-heading
		Basic project informations
	.panel-body
		%dl.dl-horizontal
			%dt Project name
			%dd
				= @project.name
			%dt Description
			%dd
				= @project.description
			%dt Project owner
			%dd
				= link_to project_owner_name(@project.owner_id), user_path(@project.owner_id)
			%dt URL
			%dd
				%a{ :href => "#{@project.url}", :target => '_blank' }
					= @project.url
			%dt Preview deadline
			%dd
				= @project.preview_deadline
			%dt Live deadline
			%dd
				= @project.live_deadline
			%dt Status
			- if @project.active
				%dd
					%span.label.label-success
						Active
			- else
				%dd
					%span.label.label-warning
						Inactive

- if @divisions.length > 0
	.panel.panel-default
		.panel-heading
			Resource needs by divisions
		.panel-body
			= form_for(:project, url: @project, :html => {:method => 'patch'}, :role => 'form') do
				= hidden_field_tag(:resource_update, 1)
				.table-responsive
					%table.table
						%thead
							%tr
								%th Division
								%th Resource need
								%th Resource booked
								%th Unit
								%th
						%tbody
							- @divisions.each do |division|
								%tr
									%td #{division.name}
									%td
										- need = get_project_resource(@project.id, division.id)
										= text_field_tag 'division_' + division.id.to_s, need, :placeholder => 'Enter unit...', :class => 'form-control'
									%td
										.row
											.col-md-2.text-center
												- sum = get_sum_booked_unit(@project.id, division.id)
												= sum
											.col-md-10
												.progress
													- per = get_percentage(need, sum)
													.progress-bar{:class => get_percentage_class(per), :role => 'progressbar', 'aria-valuenow' => per, 'aria-valuemin' => 0, 'aria-valuemax' => '100', :style => "width: #{per}%;"}
														#{per}%
									%td hour(s)
									%td
										= submit_tag 'Save unit', :class => 'btn btn-primary'

- if @users.length > 0
	.panel.panel-default
		.panel-heading
			User assignments
		.panel-body
			.table-responsive
				%table.table
					%thead
						%tr
							%th ID
							%th User
							%th Email
							%th Division
							%th Position
							- if current_user.admin? || current_user.id === project.owner_id
								%th Action
					%tbody
						- @users.each do |user|
							%tr
								%td #{user.id}
								%td
									= link_to user.name, user
								%td
									%a{ :href => "mailto:#{user.email}" }
										#{user.email}
								%td
									= division_name(user.division_id)
								%td #{user.position}
								- if current_user.admin? || current_user.id === project.owner_id
									%td
										= link_to 'delete', project_assignment_path(:user_id => user.id, :project_id => @project.id), method: :delete, data: { confirm: 'You sure?' }


