%header
	%nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse{:role => 'navigation'}
		.container-fluid
			/ Brand and toggle get grouped for better mobile display
			.navbar-header
				- if logged_in?
					%button.navbar-toggle.collapsed{:type => 'button', 'data-toggle' => 'collapse', 'data-target' => '#bs-example-navbar-collapse-1'}
						%span.sr-only Toggle navigation
						%span.icon-bar
						%span.icon-bar
						%span.icon-bar
				%a.navbar-brand{:href => '/'}
					= image_tag 'flow-logo.png', :title => 'Flow', :alt => 'Flow'
			/ Collect the nav links, forms, and other content for toggling
			.collapse.navbar-collapse{:id => 'bs-example-navbar-collapse-1'}
				- if logged_in?
					%p.navbar-text
						= link_to "Signed in as #{current_user.name}", current_user
					/ Search bar
					= form_for(:search, url: search_path, :html => {:class => 'navbar-form navbar-left'}, :role => 'search') do |f|
						.form-group
							- if @query
								%input.form-control{:name => 'query', :type => 'text', :value => @query}
							- else
								%input.form-control{:name => 'query', :type => 'text', :placeholder => 'Search'}
						%button.btn.btn-default{:type => 'submit'} Search
					%ul.nav.navbar-nav.navbar-right
						%li
							= link_to 'Bookings', bookings_path
						%li.dropdown
							%a.dropdown-toggle{:href => '#', 'data-toggle' => 'dropdown', :role => 'button', 'aria-expanded' => 'false'}
								Menu
								%span.caret
							%ul.dropdown-menu{:role => 'menu'}
								%li
									= link_to 'Profile', current_user
								%li
									= link_to 'Settings', edit_user_path(current_user)
								%li.divider
								- if current_user.admin?
									%li
										= link_to 'Add division', adddivision_path
									%li
										= link_to 'List divisions', divisions_path
									%li.divider
									%li
										= link_to 'Add user', adduser_path
								%li
									= link_to 'List users', users_path
								%li.divider
								%li
									= link_to 'Add project', addproject_path
								%li
									= link_to 'List projects', projects_path
								%li.divider
								%li
									= link_to 'Log out', logout_path, method: 'delete'
