-# HTML doctype
!!! 5
%html
	%head
		%meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes'}
		-# 'full_title' application helper
		%title #{full_title(yield(:title))}
		-# Main stylesheet (compiled on-the-fly)
		= stylesheet_link_tag 'application', media: 'all'
		-# Main javascript file
		= javascript_include_tag 'application', async: true
		= csrf_meta_tags
	%body
		-# Header partial (with menu & navigation)
		= render :partial => 'layouts/header'
		-# Main page wrapper
		.page-wrapper.container-fluid
			-# Flash partial (used for displaying different kind of messages)
			= render :partial => 'partial/flash'
			-# View render
			= yield
			-# Debug box at the bottom, only in development mode
			= debug(params) if Rails.env.development?
