!!! 5
%html
	%head
		%meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1, maximum-scale=1'}
		%title #{full_title(yield(:title))}
		/[if lt IE 9]
			= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js'
		= stylesheet_link_tag    'application', media: 'all'
		= javascript_include_tag 'application'
		= csrf_meta_tags
	%body
		- flash.each do |message_type, message|
			.alert{:class => "alert-#{message_type}"}
				= message
		- if logged_in?
			Logged in!
		- else
			Not logged in!
		= yield
		= debug(params) if Rails.env.development?
